<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>藝術頁</title>
    <!-- css -->
    <link rel="stylesheet" href="css/art.css">

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>


</head>

<!-- 第一區header -->
<header>
    <!-- logo主頁(超連結) -->
    <a href="homepage.html" class="logo"><img src="images/logo.jpg"></a>
    <nav class="">
        <div>
            <button onclick="window.location.href='Login.html'" class="btn btn-dark ">Login</button>
            <button onclick="window.location.href='Login.html'" class="btn btn-outline-dark text-white">SignUp</button>
            <!-- 會員照片 -->
            <img src="/images/dog.jpg" class="landscape">

        </div>


        <!-- 種類 -->
        <div class="option">
            <li><a href="#" class="text-white">藝術</a></li>
            <li><a href="#" class="text-white">音樂</a></li>
            <li><a href="#" class="text-white">體育</a></li>
            <li><a href="#" class="text-white">露營</a></li>
            <li><a href="#" class="text-white">衝浪</a></li>
            <li><a href="#" class="text-white">汽車</a></li>
            <li><a href="#" class="text-white">寵物</a></li>
            <li><a href="#" class="text-white">家具</a></li>
            <li><a href="#" class="text-white">建築</a></li>
        </div>
    </nav>

</header>








<!-- 第二區版面 -->

<body>

    <div class="container">
        <h2>藝術</h2>
        <h6>-藝術頁簡介</h6>
        <div class="row space1">
            <div class="m-3">
                <a href="#"><img src="images/furniture.jpg" alt="images" style="object-fit: cover;" width="600px"
                        height="350px"></a>
                <h3 class="space1">智能家庭</h3>
                <p class="space2">智能化家庭監控系統是一個基於人工智慧技術的家庭監控系統，旨在提供家庭安全和便利性。該系統可以偵測和識別家庭中的設備和人員
                </p>
                <h6 class="spce1">發起人:xxx</h6>
            </div>


            <!-- 垂直分割線 -->
            <div class="vertical-rule"></div>


            <div class="suggest col">
                <div class="row">

                    <!-- 專案1 -->
                    <a href="#" class="m-3 "><img src="images/furniture.jpg" alt="images" style="object-fit: cover;"
                            width="200px" height="100px"></a>
                    <div class="space2">
                        <div>
                            <a href="#" class="text-dark">
                                <h5>專案名稱</h5>
                            </a>
                        </div>
                        <div>
                            <h6 class="space text-success">已籌集50%</h6>
                        </div>
                        <div>
                            <h6 class="space">發起人:xxx</h6>
                        </div>
                    </div>


                    <!-- 專案2 -->
                    <a href="#" class="m-3"><img src="images/furniture.jpg" alt="images" style="object-fit: cover;"
                            width="200px" height="100px"></a>
                    <div class="space2">
                        <div>
                            <a href="#" class="text-dark">
                                <h5>專案名稱</h5>
                            </a>
                        </div>
                        <div>
                            <h6 class="space text-success">已籌集50%</h6>
                        </div>
                        <div>
                            <h6 class="space">發起人:xxx</h6>
                        </div>
                    </div>


                    <hr>


                    <!-- 專案3 -->
                    <a href="#" class="m-3"><img src="images/furniture.jpg" alt="images" style="object-fit: cover;"
                            width="200px" height="100px"></a>
                    <div class="space2">
                        <div>
                            <a href="#" class="text-dark">
                                <h5>專案名稱</h5>
                            </a>
                        </div>
                        <div>
                            <h6 class="space text-success">已籌集50%</h6>
                        </div>
                        <div>
                            <h6 class="space">發起人:xxx</h6>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
    </div>


    <hr>


    <div class="container space3">
        <div class="row">
            <a href="#"><img src="images/logo.jpg" lt="" style="object-fit: cover;" width="600px" height="300px"></a>
            <div class="col">
                <h2 class="m-3">發起專案</h2>
                <p class="m-3">募資網站是一種在線平台，允許個人、企業和組織在網上
                    募集資金。這些平台允許創業家和項目發起人通過網絡在
                    眾多投資者中尋找投資。募資網站通常提供了一個網上表
                    單，方便創業家們提交他們的計劃，並多種支付方式接受
                    投資。</p>
                <a href="#">
                    <input type="button" class="postbutton btn btn-dark m-1" value="發起專案">
                </a>
            </div>





        </div>
    </div>




</body>









<!-- 第三區footer -->

<body id="body">


    <footer class="bg-dark text-center text-white" id="footer">
        <div class="p-4">
            <!-- 社群連結 -->
            <section class="mb-4">
                <!-- Gmail -->
                <a class="btn btn-light btn-floating m-1" href="#!" role="button"><i
                        class="fa-solid fa-envelope"></i></a>

                <!-- Twitter -->
                <a class="btn btn-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>


                <!-- Facebook -->
                <a class="btn btn-light btn-floating m-1" href="#!" role="button"><i
                        class="fa-brands fa-facebook"></i></a>
            </section>
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0);">
                高雄市前金區中正四路211號8號樓之1
            </div>
        </div>

    </footer>
</body>